.navbar{
    background-color: blue;
}
.navbar-brand{
    margin-left: 2vw;
}
.d-flex{
    margin-right: 5vw;
}
.nav-item{
    padding: 0 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-link{
    color: #222;
}