nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

nav h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.link_button {
  margin-top: 5px;
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 15px;
  color: #212121;
  background-color: #ffffff;
  font-weight: 1000;
  font-size: 12 px;
  cursor: pointer;
  transition: all 250ms;
}

.link_button:hover {
  transform: scale(1.1);
}

.img_movie {
  width: 20%;
  margin: 0 40%;
  border-radius: 20px;
}

.movie-desc {
  text-align: justify;
}

.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30%;
}

.descricao h4 {
  font-size: 24px;
}

.descricao p {
  text-indent: 30px;
}

/**/
.container h1 {
  color: #92fc99;
}

.container button {
  background-color: #92fc99;
}

/**/
#movie {
  max-width: 950px;
  background-color: #e0dcb8;
  position: relative;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body h1 {
  color: #724d32;
  text-align: center;
}

.card-body h4 {
  color: #724d32;
  font-size: 24px;
}

.card-body button {
  background-color: #e49006;
  color: #724d32;

  
}

#movie img {
  border-radius: 2px;
}

#dataL {
  color: #5d5d5d;
}